body {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Roboto', sans-serif;
}


.hero-search-filter {
  background: url("https://mocah.org/uploads/posts/5318712-concert-performance-silhouette-band-stage-festival-black-and-white-audience-musician-instrument-sony-moderat-pattern-light-creative-commons-images.jpg") center center no-repeat;
  height: 600px;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-search-filter-logo {
  margin-bottom: 2rem;
  height: 200px;
}

.info {
  font-size: 20px;
  color: white;
  font: outline;
}

.hero-search-filter-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 300px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.hero-search-filter-menu {
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: white;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-menu li {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }

  .hero-search-filter-menu li a {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.hero-search-filter-menu a {
  color: #fefefe;
}

.hero-search-filter-menu a .fa {
  font-size: 1.125rem;
  font-weight: normal;
  text-decoration: none;
}

.hero-search-filter-menu a:hover {
  text-decoration: underline;
}

.hero-search-filter-form {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  background: #fefefe;
  padding: 0.25rem;
  border-radius: 5px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-search-filter-form .divider {
  background-color: #cacaca;
  width: 1px;
}

.hero-search-filter-form label {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #8a8a8a;
}

.hero-search-filter-form input,
.hero-search-filter-form .button {
  margin-bottom: 0;
}

@media screen and (max-width: 39.9375em) {
  .hero-search-filter-form {
    width: 95%;
  }
}

.hero-search-filter-form-find,
.hero-search-filter-form-near {
  border: 0;
  box-shadow: none;
}

.hero-search-filter-form-find:focus,
.hero-search-filter-form-near:focus {
  border: 0;
  box-shadow: none;
  
}

.searchby {
  color: #fefefe;
  font-weight: bold;
  font-size: 36px;
}

#artist {
  color: white;
  text-align: center;
}

#findtext {
  width: 90%;
}

#canvas-basic {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  overflow: hidden;
  opacity: 0.5;
}

#searchRow {
  background-color: rgba(0, 0, 0, 0);
}
